extends layout

block content
    h1=name

    p #{name} is the Father of Michael. He is currenlty employed at Honda and brings the parts to the builders. His hobbies consist of fishing, archery and going camping.