header
    <a href="http://localhost:1337">Home</a>
    <a href="http://localhost:1337/michael">Michael</a>
    <a href="http://localhost:1337/maria">Maria</a>
    <a href="http://localhost:1337/alfredo">Alfredo</a>
    hr