extends layout

block content
    h1=name

    p #{name} is the Mother of Michael and is currently employed as a Legal Assistant. She loves to go camping and loves her three pets which consists of two cats and one dog.